*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

:root {
    -hue-neutral: 200;
    -hue-wrong: 0;
    -hue-correct: 145;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(107, 104, 104);
}

body.correct{
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    display: grid;
    place-items: center;
    place-content: center;
    position: absolute;
    width: 500px;
    height: 400px;
    max-width: 80vw;
    background-color:rgba(255, 255, 254, 0.938);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-top: 100px;

}
h4 {

}
#user {
    background-color: hsl(var(hue), 100%, 30%);
    border: 1px solid hsl(var(hue), 100%, 30%);
    border-radius: 5px;
    margin: 5px;
}
#user:hover {
    color: grey;
}
#questionBox, div {
    display: grid;
    place-items: center;

}
.question {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    margin:10px;
    width: 350px;
    height: 55px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    background-color: white;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

ul {
    text-align: center
}
li {
list-style: none;
}
.choiceBtn {
    background-color: hsl(var(hue), 100%, 30%);
    border: 1px solid hsl(var(hue), 100%, 30%);
    border-radius: 5px;
    width: 300px;
    height: 25px;
    padding: 5px 5px;
    margin: 5px;
    margin-left: 4vw;
    background-color: rgb(184, 74, 74);
    color: black;
}
.answerBtn:hover{
    border-colorrgb: black;
}
.score-card {
    display: flex;
}
.score-timer {
    margin: 10px;
}

.btn {
    background-color: hsl(var(hue), 100%, 30%);
    border: 1px solid hsl(var(hue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    background-color: rgb(92, 84, 84);
    color: white;  
}
.btn:hover {
    border-color:rgb(184, 74, 74);
}